.cartContainer {
  /* border: 3px solid green; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: none;
  /* border: 3px solid pink; */
}

.cartItems {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
}

.cartButtons {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.cartButton {
  display: flex;
  align-items: center;
}

.subTotal {
  padding: 0px 50px;
}

.buttons {
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #f8f9fa;
  background-color: #4281a4;
  color: #f8f9fa;
  padding: 1rem;
  letter-spacing: 1px;
}

.buttons:hover {
  background-color: #fe938c;
  color: #f8f9fa;
}

.cartDetailsContainer {
  background: white;
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cartDetails {
  /* border: 3px solid red; */
  width: 100%;
}

.cartDetailsText {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  /* border: 3px solid orange; */
}

.headerStyle {
  margin: 3rem 0rem 3rem 2.5rem;
}

.cartDescription {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.textStyle {
  padding: 0 3rem 0 3rem;
}

.headerStyleContainer {
  border-bottom: 1px solid gray;
}

