.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cartItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cartButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartButton {
  display: flex;
  align-items: center;
}

.subTotal {
  padding: 0px 50px;
}

.buttons {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 3px;
  border: 2px solid #f8f9fa;
  background-color: #4281a4;
  color: #f8f9fa;
}

.buttons:hover {
  background-color: #fe938c;
  color: #f8f9fa;
}
