.favoritesContainer {
  margin-top: -4rem;
  /* border: 3px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  z-index: -1;
}

.productsContainer {
  /* border: 3px solid green; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  width: 80rem;
  height: 100%;
  z-index: -1;
}
