@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

html,
body {
  background-color: #F8F8F8;
  /* color: #212529; */
  /* color: #336480; */
  color: black;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Lato;
  /* font-family: Work Sans; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style-type: none;
}

.homeButtonStyle:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

