.landingCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.landingImg {
  position: absolute;
  max-width: 50%;
}

.shopBtn {
  margin-top: 26%;
  z-index: 1;
  border: 2px solid #f8f9fa;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px 24px;
  background-color: #4281a4;
  border-radius: 3px;
  color: #f8f9fa;
  outline: none;
  cursor: pointer;
}

.shopBtn:hover {
  background-color: #fe938c;
  color: #f8f9fa;
}
