.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}

.layoutContainer {
  display: flex;
  justify-content: space-between;
}

.banner {
  margin-top: 3rem;
  width: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 128px;
  z-index: 2;
}

.product {
  margin-top: 5rem;
}

.navbar {
  padding: 20px;
}

.navbarItem {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.logoImg {
  margin: 50px;
  width: 10rem;
  height: 5rem;
  cursor: pointer;
}
