.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  /* border: 3px solid red; */
  z-index: -1;
}

.layoutContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* background-color: transparent; */
  z-index: -1;
}

.banner {
  margin-top: 3rem;
  width: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 128px;
  z-index: 2;
  -webkit-text-stroke-width: 2px;
  /* -webkit-text-stroke-color: #f8f9fa; */
}

.navbar {
  padding: 20px;
}

.navbarItem {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.logoImg {
  margin: 50px;
  width: 10rem;
  height: 5rem;
  cursor: pointer;
}

.contentContainer {
  margin-top: -6rem;
  width: 75%;
  /* border: 3px solid orange; */
  justify-content: center;
  display: flex;
  z-index: -1;
}

.navbarItem:hover {
  /* color: #e6b89c; */
  color: #fe938c;
  text-decoration: underline;
  text-underline-position: under;
}

.cart {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 10px;
  stroke: #336480;
  stroke-width: 0.06;
  transition: 0s;
}

.cart:hover {
  /* color: #e6b89c; */
  color: #fe938c;

  /* text-decoration: underline; */
}
